<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>
<body>
    Flask APP
{#    <img src="../static/image.jpg" />#}
    <img src="https://storage.googleapis.com/maple-storage/image.jpg" />

{#    <div style="width: 100px; height: 100px; background: rgba(200,0,0,0.5);#}
{#        position: absolute; top: 500px; left: 500px;#}
{#        clip-path: polygon(63% 39%, 71% 31%, 65% 49%, 62% 48%);">#}
{#    </div>#}
    <div style="width: 100px; height: 100px; position: absolute; top: 500px; left: 500px;
                border-color: red; border-width: 5px; border-style: solid;">
    </div>
    <p style="color: red">{{ test }}</p>
</body>
</html>